*{
  font-size: 16px;
  font-family: sans-serif;
}


.row {
  display: flex;
}

.app {
  background-color: rgba(204, 194, 194, 0.1);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-1, tbody {
  color: rgb(143, 140, 140);
}

.container-11 {
  width: 33%;
  text-align: center;
  margin-right: 10px;
  height: 200px;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px -1px 2px 2px rgb(0, 0, 0, 0.1);
}

.hmg-container {
  background-color: rgba(255, 255, 255, 0.884);
  justify-content: space-around;
}

.hmg-item > .circle {
  width: 60%;
  margin-left: 25px;
}

.hmg-item {
  position: relative;
}

.hmg-item-recipe {
  height: 30px;
  padding-left: 5px;
  font-size: 0.8rem;
  font-weight: 600;
}

.arrow {
  width: 60%;
  margin-left: 25px;
  display: flex;
}

h2 {
  font-size: 0.9em;
  font-weight: 500;
}

.icon-container-1 {
  position: absolute;
  border-top: 2px solid rgba(220, 220, 220, 0.701);
  border-radius: 2px;
  padding-top: 10px;
  top: 30%;
  left: 30%;
}

.icon-container {
  margin-top: 200px;
  background-color: black;
  display: block;
}

/* Table */

table,
th,
td {
  border: 1px solid transparent;
  border-collapse: collapse;
  text-align: left;
}

td > input {
  background-color: white;
}

table {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

tr > .table-head {
  color: white;
  background-color: rgba(30, 143, 255, 0.483);
}
tr > td {
  text-align: left;
}

.tagname {
  background-color: rgba(255, 255, 0, 0.367);
  padding: 5px 10px;
  border-radius: 20px;
}

tr.table-row td,
tr.table-header th {
  padding-top: 10px;
  padding-bottom: 10px;
}

tr:nth-child(odd) {
  background-color: rgba(235, 231, 231, 0.483);
}
tr:nth-child(even) {
  background-color: #fdfdfd;
}
.tab-1 {
  background-color: rebeccapurple;
}

.react-tabs__tab {
  background-color: rgba(195, 232, 245, 0.667);
  color: rgba(101, 30, 255, 0.353);
  transition: all 0.3s ease-out;
}

.react-tabs__tab--selected {
  color: rgba(30, 143, 255, 0.483);
  background-color: white;
  position: relative;
}

.toggle-icon ion-icon {
  background-color: transparent;
  margin: -10px 0px;
  cursor: pointer;
  color: white;
}

/* CHECKBOX STYLING */
.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 2rem;
  color: black;
}
.checkbox__input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}

.checkbox__control {
  display: inline-grid;
  width: 1.4em;
  height: 1.4em;
  border-radius: 0.25em;
  border: 1px solid rgb(207, 204, 204);
}
.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";  
}
.checkbox__input > * {
  grid-area: checkbox;
}

.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}
.checkbox__input input:checked
 + .checkbox__control svg {
  transform: scale(1);
}
:root {
  --disabled: #000;
}

.checkbox__input input:checkbox:disabled
 + .checkbox__control {
  color: var(--disabled);
}
.checkbox--disabled {
  color: var(--disabled);
}